
body{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;	
	color: #292F42;
	letter-spacing: 0.3px;
	line-height: 24px;
}

@font-face{
	font-family: 'Lora', serif;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

.flex{
	display: flex;
}

.header{
	background: #FDFDFD;
}

.heading{
	height: 88px;
	justify-content: space-between;
	align-items: center;
}

.container{
	max-width: 1145px;
	margin: auto;
}

.logo{
	display: flex;
	align-items: center;
}

.logo__img{
	padding-right: 20px;
}

.logo__name{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

/*POPUP WINDOW STYLE*/

.user-menu {
	display: none;
    width: 20px;
    cursor: pointer;
}	

.user-menu span{
	display: block;
	margin-bottom: 4px;
	height: 2px;
	background: #292F42;
	border-radius: 5px;
	transform: matrix(-1, 0, 0, 1, 0, 0);
}

.header-popup{
	display: flex;
	justify-content: space-between;
}

.logo__name-popup{
	color: #FDFDFD;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.close{
	width: 20.57px;
	cursor: pointer;
	margin-top: -20px;
}

.close span{
	height: 2.06px;
	display: block;
	margin-top: -2px;
	background: #FDFDFD;
	border-radius: 5px;
	transform: matrix(0.7, 0.7, 0.7, -0.7, 0, 0);
}

.close span:last-child{
	transform: matrix(0.7, -0.7, -0.7, -0.7, 0, 0);
}

.menu-popup{
	padding-top: 200px;
	list-style: none; 
    padding-left: 0; 
}

.menu-popup__item{
	margin-bottom: 64px;
	font-weight: 600;
	font-size: 24px;
	color: #FDFDFD;	
	cursor: pointer;
	display: block;
	text-decoration: none;

}

.menu-popup__item-last{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	background: #86BE26;
	border-radius: 5px;
	padding: 20px 120px;
	color: #fff;
}


/*POPUP*/

.overlay_popup {
	display:none;
	position:fixed;
	z-index: 999;
	background: #292F42;
	top:0;
	right:0; 
	left:0;
	bottom:0;
}

.popup {
	display: none;
	margin-top: 50px;
	position: relative;
	z-index: 1000;
}

/*END POPUP*/

.object{
	text-align: center;
}

/*	THE END*/

.menu{
	padding: 0px;
	list-style: none; 
    padding-left: 0; 
    align-items: center;
}

.list a {
	color: #000;
	margin-left: 36px;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding: 8px 20px;
}

.list-login{
	margin-left: 48px;
	border: 1.6px solid #292F42;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 8px 0px;
}

.list-login a{
	margin-left: 0px;
}

.fa-long-arrow-alt-right{
	padding-left: 16px;
}

.block-menu{
	padding-top: 136px;
}

.list-menu{
	margin-bottom: 16px;
	width: 282px;
}

.list-menu__mobile{
	display: none;
}

.list-menu a{
	padding: 0;
	text-transform: none;
	margin-left: 0px;
	font-weight: normal;
	font-size: 16px;
	color: #6F7583;
}

.list-menu a:hover{
	padding: 0;
	border: 0px;
	font-weight: 500;
	color: #292F42;
}

.block-info{
	width: 100%;
	padding-left: 24px;
}

.clause{
	margin-top: 72px;
	font-weight: 500;
}

.clause a{	
	color: #292F42;
}

.fa-angle-left{
	padding-right: 16px;
}

.title{
	padding-top: 40px;
	padding-bottom: 14.31px;
	font-weight: 600;
	line-height: 38px;
	font-size: 34px;
	letter-spacing: 0.3px;
}

.block-title{
	align-items: center;
}

.info{
	padding-left: 26.62px;
}

.info a{
	padding-right: 5px;
	color: #86BE26;
	text-decoration: underline;
}

.info span{
	padding-top: 11px;
	color: rgba(41, 47, 66, 0.25);
}

.line{
	width: 100%;
	height: 1px;
	margin-top: 21px;
	background: #292F42;
	opacity: 0.05;
	border-radius: 1px;
}

.wrapper{
	width: 90%;	
}

.services{
	margin-top: 32px;
	padding-left: 32px;
	padding: 32px;
}

.services-name{
	font-weight: 600;
	font-size: 24px;
	cursor: pointer;
}

.services-name__mobile{
	display: none;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	font-size: 18px;
	letter-spacing: 0.3px;
	color: #292F42;
}

.services-info{
	padding-top: 16px;
	color: #6F7583;
}

.services:hover{
	background: #FDFDFD;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.services-more a{
	display: none;
	font-weight: 600;
	right: 13%;	
	color: #86BE26;
	text-align: center;
	position: absolute;
	text-transform: uppercase;
}

.services:hover .services-more a{
	display: block;
}

.offer{
	text-align: center;
}

.offer__title{
	margin-top: 176px;
	font-family: Lora;
	font-weight: bold;
	font-size: 34px;
	color: #9DD241;
}

.offer__description{
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 24px;
	color: rgba(41, 47, 66, 0.25);
}

.offer__btn{
	padding: 16px 190px 16px 40px;
	width: 384px;
	margin-top: 61px;
	background: #FDFDFD;
	border: 1px solid rgba(41, 47, 66, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
	cursor: pointer;
}

.offer__btn-two{
	display: none;
	padding: 16px 40px;
	width: 220px;
	text-transform: uppercase;
	color: #FDFDFD;
	font-weight: 600;
	background: linear-gradient(251.94deg, #C4E58B -41.78%, #86BE26 63.15%);
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}


.footer{
	background: url(../img/bg.png) no-repeat center top / cover;
	padding-top: 384px;
	color: #FDFDFD;
}

.footer-offer{
	font-family: Lora;
	font-style: normal;
	font-weight: bold;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 0.3px;
	color: #FFFFFF;
	margin-bottom: 26px;
}

.block-adaptive{
	display: none;
}

.block-cell__form{
	padding: 16px 70px 16px 40px;
	background: #FDFDFD;
	border: 1px solid rgba(41, 47, 66, 0.1);
	box-sizing: border-box;
	border-radius: 5px;
}

.block-cell__submit{
	margin-left: -5px;
	border: 0;
	padding: 17px 19px;
	position: absolute;
	background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	cursor: pointer;
}

.block-cell__submit i{
	padding: 0;
	color: #fff;
}

.block-one__logo{
	margin-top: 30px;
	margin-bottom: 24px;
}

.block-one__info{
	max-width: 385px;
}

.block-two__list{
	padding-top: 40px;
	padding-left: 80px;
}

.block-two__offer{
	font-family: Lora;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #FDFDFD;
	line-height: 50px;
}

.block-two__offer span{
	display: none;
}

.list__footer{
	list-style: none; 
    padding-left: 0; 
}

.list__footer a{
	padding: 0;
	text-transform: none;
	margin-left: 0px;
	color: #FDFDFD;
	line-height: 28px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
}

.list__footer a:hover{
	padding: 0;
	text-decoration-line: underline;
	color: #86BE26;
}

.last{
	background: #292F42;
	height: 56px;
}

.line-footer{
	margin-top: 203px;
	background: #191e2b;
	width: 100%;
	height: 1px;
}

.copy{
	text-align: center;
	padding: 17px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.copy span{
	color: #86BE26;
}

